html,
body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family:'Philosopher', sans-serif, 'Raleway', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;

  overflow-x: hidden;
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
}
.CinzelTitle {
  font-family:'Fraunces';
}

@import url('https://fonts.googleapis.com/css2?family=Fraunces:ital,wght@0,300;0,400;0,500;0,700;1,200;1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Philosopher:ital,wght@0,400;0,700;1,400;1,700&display=swap');
